<!--
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/metadata">Metadata</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/filemetadata/{{filemetadatumUuid}}">File Metadata</a>
        </li>
    </ul>
    <div landing-start-menu></div>
</div>
 -->
<style>
.btn-circle {
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 0 0;
  font-size: 11px;
  line-height: .514;
  border-radius: 5px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}</style>
<script>
  $( document ).ready(function() {
    $('#datetimepicker1').datetimepicker()
    $('#datetimepicker2').datetimepicker()
    $('#datetimepicker3').datetimepicker()
  });
</script>

<h3 class="page-title">File Annotations</h3>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">

            <!--
            <div class="portlet-title">
                <div class="row text-center">
                  <div class="col-md-12">

                  </div>
                </div>
                <div ng-controller="MetadataQueryBuilderCtrl" class="text-center top-buffer" ng-keyup="$event.keyCode == 13 ? searchTools(query) : null">
                    <div class="btn-group top-buffer">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-filter" aria-hidden="true"></i></div>
                        <input type="text" class="form-control" placeholder="Filter" ng-model="$parent.filter">
                      </div>
                    </div>
                    <div class="row top-buffer" ng-show="showSearch">
                      <query-builder group="filter.group" resource="metadata"></query-builder>
                      <div class="col-md-12 top-buffer">

                        <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                          <input type="text" class="form-control" placeholder="Search" ng-model="query">
                        </div>

                        <div class="btn-group">
                          <button class="btn btn-success top-buffer" ng-click="searchTools(query)">Search</button>
                        </div>
                      </div>
                    </div>
                    <div class="btn-group top-buffer">
                      <button class="btn btn-default" ng-click="showSearch = !showSearch">
                        <i class="fa fa-search"></i> {{showSearch ? 'Hide Tools' : 'Search Tools'}}
                      </button>
                    </div>
                </div>
            </div>
            -->
            <div class="portlet-body">
              <div class="row text-center" ng-show="requesting">
                  <div class="col-md-12">
                    <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
                  </div>
              </div>

              <div class="row">
                <div class=" pull-left">
                  <h4>{{filename}}</h4>
                </div>
                <div ng-show="has_data_descriptor == true">
                  <div class="btn-group pull-right" >
                    <a href='#' ng-click="open('lg')" role="button" class="btn green btn-outline pull-right"> <i class="fa fa-tag"></i> Associate Or Clone Existing Metadata </a>
                  </div>
                  <div class="btn-group pull-right">
                      <a class="btn green btn-outline pull-right" href="#" data-toggle="dropdown">
                          <i class="fa fa-plus"></i>&nbsp;Create New Metadata Object
                          <i class="fa fa-angle-down pull-right"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <li ng-repeat="metadataschemata in metadataschema | orderBy:sortType:sortReverse | filter:filter" ng-show="approvedSchema.indexOf(metadataschemata.schema.title) > -1">
                          <a href='#' ng-click="openCreate(metadataschemata.uuid,'lg')" role="button"> <i class="fa fa-tag"></i> {{metadataschemata.schema.title}}</a>
                        </li>
                      </ul>
                  </div>
                </div>
                  <div class="col-md-12">
                    <div ng-show="!requesting">
                      <div ng-show="has_data_descriptor == false" class="text-center">
                        <div class="row ">
                          <div class="col-md-12">
                          <h3 class="pull-left">Create Data Descriptor </h3>
                        </div>
                            <div class="col-md-11">

                          <form>
                            <div class="form-group">
                              <label class="control-label pull-left" for="Title" data-toggle="tooltip" title="The title of this data object.">Title:</label><button type="button"  data-toggle="popover" title="Title Field" data-content="The title of this data object."class="btn btn-info btn-circle pull-left"><i class="glyphicon glyphicon-question-sign"></i></button>
                              <input class="form-control" type='text' value="{{filename.split('/').slice(-1)[0]}}"/>
                              <script>
                                $(document).ready(function(){
                                    $('[data-toggle="popover"]').popover();
                                });
                              </script>
                            </div>
                            <div class="form-group">
                              <label class="control-label pull-left" for="Title">Format:</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Format Field" data-content="The format of this data file.">?</button>
                              <input class="form-control" type='text'/>
                            </div>
                            <div class="form-group">
                              <label class="control-label pull-left" for="Title">Author:</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                              <input class="form-control" type="text"/>
                            </div>
                            <div class="form-group">
                              <label class="control-label pull-left" for="Title">Participant Institution:</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                              <input  class="form-control" type="text" value="University of Hawaii"/>
                            </div>
                            <div class="form-group">
                              <label class="control-label pull-left" for="Title">Description:</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                              <input  class="form-control" type="text"/>
                            </div>
                            <div class="form-group">
                              <label class="control-label pull-left" for="Title">Rights:</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                              <select class="form-control">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label class="control-label pull-left" for="Title">Subject:</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                              <input class="form-control" type='text'/>
                            </div>
                            <div class="form-group">
                              <label class="control-label pull-left" for="Title">Start Date:</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                              <br/>
                            </div>
                            <div class="form-group">
                              <div class='input-group date' id='datetimepicker1'>
                                  <input type='text' class="form-control" />
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label pull-left" for="Title">End Date:</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                              <br/>
                            </div>
                            <div class="form-group">
                              <div class='input-group date' id='datetimepicker2'>
                                  <input type='text' class="form-control" />
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>
                            </div>
                            <div class="form-group">
                              <button class="btn btn-success pull-left form-control" ng-click="open('lg')">Choose Location(s)</button>
                            </div>
                            <div>
                              <button class="btn btn-default btn-sm" ng-repeat="filemetadatum in filemetadata | filter: locationFilter" ng-click="unAssociateMetadata(filemetadatum.uuid)">
                                       {{filemetadatum.value.well_name}}{{filemetadatum.value.title}}
                                       {{filemetadatum.value.wid}} {{filemetadatum.value.variable_name}} {{filemetadatum.value.description}} {{filemetadatum.value.tags.toString()}}
                                       <i class="glyphicon glyphicon-remove-sign"></i>
                            </button>
                          </div></br>
                            <div class="form-group">
                              <button  class="btn btn-success pull-left form-control" ng-click="open('lg')">Choose Variable(s)</button>
                            </div>
                            <div>
                              <button class="btn btn-default btn-sm" ng-repeat="filemetadatum in filemetadata | filter: {name:'Variable'}" ng-click="unAssociateMetadata(filemetadatum.uuid)">
                                       {{filemetadatum.value.well_name}}{{filemetadatum.value.title}}
                                       {{filemetadatum.value.wid}} {{filemetadatum.value.variable_name}} {{filemetadatum.value.description}} {{filemetadatum.value.tags.toString()}}
                                       <i class="glyphicon glyphicon-remove-sign"></i>
                            </button>
                          </div></br>
                            <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                                      Optional
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    <div class="form-group">
                                      <label class="control-label pull-left" for="Title">Project Type</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                                      <input  class="form-control" type="text"/>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label pull-left" for="Title">Publisher:</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                                      <input  class="form-control" type="text"/>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label pull-left" for="Title">Date of Publication:</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                                      </br>
                                    </div>
                                    <div class="form-group">
                                      <div class='input-group date' id='datetimepicker3'>
                                          <input type='text' class="form-control" />
                                          <span class="input-group-addon">
                                              <span class="glyphicon glyphicon-calendar"></span>
                                          </span>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label pull-left" for="Title">Funding Agency And Award Number</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                                      <input  class="form-control" type="text"/>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label pull-left" for="Title">Relations:</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                                      <input class="form-control" type='text'/>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label pull-left" for="Title">Language:</label><button type="button" class="btn btn-info btn-xs pull-left" data-toggle="popover" title="Title Field" data-content="The title of this data object.">?</button>
                                      <input class="form-control" type='text'/>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <button  class="btn btn-primary" type="submit">Save Data Descriptor</button>
                            </div>
                          </div>
                          </form>
                          </div>
                        </div>
                      </div>
                      <div ng-show="has_data_descriptor == true">
                        <span ng-repeat="filemetadatum in filemetadata">
                                 {{filemetadatum.value.well_name}}{{filemetadatum.value.title}}
                                 {{filemetadatum.value.wid}} {{filemetadatum.value.variable_name}} {{filemetadatum.value.description}} {{filemetadatum.value.tags.toString()}}
                        </span>
                          <table class="table table-striped table-bordered table-hover management" width="100%" id="datatable_collection">
                              <thead>
                                  <tr role="row" class="heading">
                                      <th width="20%">
                                        <a href="#" ng-click="sortType = 'uuid'; sortReverse = !sortReverse">
                                          Description
                                          <span ng-show="sortType == 'uuid' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'uuid' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th width="10%" class="hidden-xs">
                                        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                          Type
                                          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th width="5%" class="text-center"> Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="filemetadatum in filemetadata | orderBy:sortType:sortReverse | filter:filter" ng-show="ignoreMetadataType.indexOf(filemetadatum.name) < 0">
                                      <td>
                                          <a href='#' ng-click="openViewMetadata(filemetadatum.uuid, 'lg')"> {{filemetadatum.value.well_name}}{{filemetadatum.value.title}}
                                           {{filemetadatum.value.wid}} {{filemetadatum.value.variable_name}} {{filemetadatum.value.description}} {{filemetadatum.value.tags.toString()}} </a>
                                      </td>
                                      <td class="hidden-xs">
                                          <a ui-sref="metadata({id: filemetadatum.uuid})"> {{filemetadatum.name}} </a>
                                      </td>
                                      <td class="text-center">
                                          <div class="btn-group">
                                                  <span ng-show='profile.username == filemetadata.owner || edit_perm'>
                                                  <!-- <a ui-sref="metadata-edit({uuid:filemetadatum.uuid})" role="button"> <i class="fa fa-pencil"></i> Edit </a> -->
                                                  <a href='#' ng-click="openEditMetadata(filemetadatum.uuid,'lg')" role="button"> <i class="fa fa-pencil"></i>Edit</a>
                                                </span>
                                                  &nbsp;
                                                  <span>
                                                  <a href="#" ng-click="unAssociateMetadata(filemetadatum)" role="button"> <i class="fa fa-trash-o"></i> Remove Association</a>
                                                </span>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
