
<div class="row">
    <h3><i class="fa fa-search"></i> Search Ike Annotated Repository Files</h3>
    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-12">
               <h5>Draw Bounding Box And Click "Search In Bounding Area" Button To Begin Searching...</h5>
               <leaflet defaults="defaults" width="100%" height="450px" markers="markers" lf-center="map.center" lf-draw="map.drawOptions" event-broadcast="events"></leaflet>
       </div>
        
        <div class="col-md-1"></div>
        <div class="col-md-12">
            <button class="btn btn-primary pull-right" ng-click="spatialSearch()"><i class="fa fa-search"/> Search In Bounding Area</button>
            <br/>
            <br/>
        </div>
        <div class="col-md-1"></div>
    <div class="col-md-12">
        
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="row text-center">
                  <div class="col-md-12">

                  </div>
                </div>
            <!--    <div ng-controller="MetadataQueryBuilderCtrl" class="text-center top-buffer">
                    <div class="btn-group top-buffer">
                      <div class="input-group">
                          
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="input-group">
                    </div>
                        <input type="text" class="form-control" placeholder="Search Annotated Filenames" ng-model="searchField.value"></div>
                        <button class="btn btn-primary" ng-click="textSearch()">Search Files</button>

                      <br/>
                    </div>

                    


                </div>
            </div>-->
            <div class="portlet-body">
            <div class="row">
                <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                            <button class="btn btn-primary" ng-click="facetSearch()"><i class="fa fa-search"/> Search With Selections</button>
                    </br></br>
                        <div class="portlet light portlet-fit portlet-datatable pre-scrollable" style="overflow-y:scroll;">
                            <table id="well_facet" class="table table-striped table-bordered table-hover management pre-scrollable" >
                                <thead>
                                    <tr>
                                        <th>
                                            <a href="#" ng-click="wellSortType = 'value.well_name'; wellSortReverse = !wellSortReverse">
                                                Wells
                                                <span ng-show="wellSortType == 'value.well_name' && !wellSortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="wellSortType == 'value.well_name' && wellSortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="well in facet_wells | orderBy:wellSortType:!wellSortReverse">
                                        <td><input type="checkbox"name="selectedMetadata[]" value="{{well.uuid}}" ng-checked="selectedMetadata.indexOf(well.uuid) > -1" ng-click="toggleSelectedMetadata(well.uuid)"/> {{well.value.well_name}}, {{well.value.wid}}
                                            <a href="#" ng-click="openView(well.uuid, 'lg')"><i class="fa fa-eye"></i></a>    
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="portlet light portlet-fit portlet-datatable pre-scrollable">
                            <table id="site_facet" class="table table-striped table-bordered table-hover management pre-scrollable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <a href="#" ng-click="siteSortType = 'value.name'; sortReverse = !sortReverse">
                                                    Sites
                                                    <span ng-show="siteSortType == 'value.name' && !sortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="siteSortType == 'value.name' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                <tbody>
                                    <tr ng-repeat="site in facet_sites | orderBy:siteSortType:!sortReverse">
                                        <td><input type="checkbox"name="selectedMetadata[]" value="{site.uuid}}" ng-checked="selectedMetadata.indexOf(site.uuid) > -1" ng-click="toggleSelectedMetadata(site.uuid)"/>{{site.value.name}}, {{site.value.description}}
                                        <a href="#" ng-click="openView(site.uuid, 'lg')"><i class="fa fa-eye"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="portlet light portlet-fit portlet-datatable pre-scrollable">
                            <table class="table table-striped table-bordered table-hover management pre-scrollable">
                                    <thead>
                                        <tr>
                                            <th>
                                                <a href="#" ng-click="varSortType = 'value.variable_name'; varSortReverse = !varSortReverse">
                                                    Variables
                                                    <span ng-show="varSortType == 'value.variable_name' && !varSortReverse" class="fa fa-caret-down"></span>
                                                    <span ng-show="varSortType == 'value.variable_name' && varSortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                <tbody>
                                    <tr ng-repeat="var in facet_variables | orderBy:varSortType:varSortReverse">
                                        <td><input type="checkbox"name="selectedMetadata[]" value="{{var.uuid}}" ng-checked="selectedMetadata.indexOf(var.uuid) > -1" ng-click="toggleSelectedMetadata(var.uuid)"/>{{var.value.variable_name}}, {{var.value.unit}}, {{var.value.category}},
                                            <a href="#" ng-click="openView(var.uuid, 'lg')"><i class="fa fa-eye"></i></a>  
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br/>
                        <br/>
                        <button class="btn btn-primary" ng-click="facetSearch()"><i class="fa fa-search"/> Search With Selections</button>
                    </div>
                    <div class="col-md-8">
                    <div class="row text-center" ng-show="requesting">
                        <div class="col-md-8">
                            <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
                        </div>
                    </div>
                    <h3><i class="fa fa-file"></i> Matching Files: {{files.length}}</h3>
                    <div class="row">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label><i class="fa fa-filter" aria-hidden="true"></i></label>
                                </div>
                                <input type="text" class="form-control" placeholder="Filter Current Local Search Results" ng-model="$parent.filter"></div>
                            </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="!requesting">
                            <div ng-show="metadata.length === 0  && files.length < 0" class="text-center">
                                <div class="row text-center">
                                <div class="col-md-12">
                                    No Matching Files Found
                                </div>
                                </div>
                            </div>
                            <div ng-show="metadata.length > 0"class="text-left">
                                <div class="pull-left">
                                    Total Matching Files: {{files.length || 0}}
                                </div>
                            </div>
                            <div class="col-md-12">
                            <div ng-show="files.length > 0" class="pre-scrollable">
                                <table class="table table-striped table-bordered table-hover management pre-scrollable" width="100%" id="datatabele_files">
                                    <thead>
                                        <tr role="row" class="heading">
                                            <th width="20%">
                                                <a href="#" ng-click="sortType = 'href'; sortReverse = !sortReverse">
                                                Filename
                                                <span ng-show="sortType == 'href' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'href' && sortReverse" class="fa fa-caret-up"></span>
                                                </a>
                                            </th>
                                            <th width="10%" class="hidden-xs">
                                                Actions
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="file in files | orderBy:sortType:sortReverse | filter:filter">
                                            <td ng-show="file.href.includes('ikewai-annotated-data')">
                                                {{file.href.split('ikewai-annotated-data/')[1]}}
                                                <a href="#" ng-click="viewFileAnnotations(file.rel, file.href.split('ikewai-annotated-data/')[1])"><i class="fa fa-eye"></i></a> 
                                            </td>
                                            <td ng-show="file.href.includes('ikewai-annotated-data')">
                                                <button type="button" class="btn btn-success text-center"  ng-click="download([file.href])"><i class="fa fa-download"></i> {{"Download" | translate}}</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <br/>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
