<div class="page-body">
  <div class="row" ng-show="requesting">
    <div class="col-md-12">
      <div class="loading-message">
        <div class="block-spinner-bar">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row" ng-show="!requesting"></div>-->
  <table align="left" style="width:100%;">
    <tbody>
      <tr>
        <td style="width:30%; vertical-align:top" align="left" >
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <a class="twitter-timeline" href="https://twitter.com/HawaiiEPSCoR?ref_src=twsrc%5Etfw">Tweets by HawaiiEPSCoR</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
            </div>
          </div>
        </td>
      </td>


        <td style="width:40%; vertical-align:top" align="center" >
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading" align="center"><b>Recent activity</b></div>
                <div class="panel-body">
                  <div>
                    <span ng-bind-html="outputString"></span>
                </div>
              </div>
            </div>
          </div>
        </td>
      </td>

      <td style="width:30%; vertical-align:top"  align="right">
          <div class="lock-head">IKE Platform Login</div>
          <div ng-controller="LoginController">
            <form method="POST">
              <div ng-show="login_error" uib-alert class="lock-body" ng-class="'alert-' + (alert.type || 'danger')">Incorrect Login Credentials or Permissions. Please Try Again.</div>
              <div class="input-group  lock-body">
                <label style="color:#fff;" for="username">Name: </label>
                <input class='form-control placeholder-no-fix' id='username' type="text" ng-model="username" />
              </div>
              <div class="input-group lock-body">
                <label style="color:#fff;" for="password">Password: </label>
                <input class='form-control placeholder-no-fix' type="password" id="password" ng-model="password" />
              </div>
              <div class="lock-bottom">
                <input class="btn btn-default" type="submit" ng-click="getAuthToken()" value="Login" />
              </div>
              <div class="lock-body">
                <!--<label style="color:#fff;">{{recentChanges}}</label>-->
              </div>
            </form>
            <center class="lock-bottom">
              <h5>
                <a href="https://www.hawaii.edu/username/userprefs/password_only.cgi">Forgot Password</a><br /><br /><br />
                <a href="http://ikewai.org/ike-wai-gateway-project-acceptable-use-policy/">Acceptable Use Policy</a>
              </h5>
            </center>
          </div>

        </tr>
      </tbody>  
    </table>
</div>