<div class="page-body">
    <div class="lock-head"> Wait To Be Forwarded To Login Page</div>
    <div class="lock-body">
        <div class="message"></div>
        <div class="lock-avatar-block">
<center>            <oauth id="login-button"
                    template="/auth/views/templates/oauth-ng-button.html"
                    site="tenant.baseUrl"
                    client-id="settings.oauth.clients[tenant.code].clientKey"
                    redirect-uri="{{settings.oauth.clients[tenant.code].callbackUrl}}"
                    authorize-path="/authorize",
                    state="{{randomState()}}"
                    scope="{{settings.oauth.clients[tenant.code].scope}}"
                    tenant="tenant">
            </oauth>
    </center>
  <br/><br/>
  </div>
    </div>
