<div class="page-body">
    <div class="row" ng-show="requesting">
      <div class="col-md-12">
        <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
      </div>
    </div>
    <div class="row" ng-show="!requesting"></div>
        <div class="lock-head">IKE Platform Login</div>
        <div ng-controller="LoginController">
          <form>
              <div ng-show="login_error" uib-alert class="lock-body" ng-class="'alert-' + (alert.type || 'danger')">Incorrect Login Credentials or Permissions. Please Try Again.</div>
              <div class="input-group  lock-body">
                <label style="color:#fff;" for="username">Name: </label>
                <input class='form-control placeholder-no-fix' id='username' type="text" ng-model="username" />
              </div>
              <div class="input-group lock-body">
                <label style="color:#fff;" for="password" >Password: </label>
                <input class='form-control placeholder-no-fix' type="password" id="password" ng-model="password" />
              </div>
             <div class="lock-bottom">
                <input class="btn btn-default" type="submit" ng-click="getAuthToken()" value="Login" />
             </div>
          </form>
             <center class="lock-bottom" ><h5>
                 <a href="https://www.hawaii.edu/username/userprefs/password_only.cgi">Forgot Password</a>
             </h5></center>
        </div>
   </div>
 </div>
