<div class="page-body text-center">
    <div class="lock-head"> You Are Logged Out</div>
    <div class="lock-body">
        <div class="message"></div>

        <form class="form-horizontal expired">
            <h3 class="lock-head">Click Button Below To Login</h3>
            <div class="form-group">
              <oauth
                      template="/auth/views/templates/oauth-ng-button.html"
                      site="tenant.baseUrl"
                      client-id="settings.oauth.clients[tenant.code].clientKey"
                      redirect-uri="{{settings.oauth.clients[tenant.code].callbackUrl}}"
                      authorize-path="/authorize",
                      state="{{randomState()}}"
                      scope="{{settings.oauth.clients[tenant.code].scope}}"
                      tenant="tenant">
              </oauth>
            </div>
            <br/><br/>
        </form>
    </div>
</div>
