
 <style>
    .btn-circle {
      width: 15px;
      height: 15px;
      text-align: center;
      padding: 0 0;
      font-size: 11px;
      line-height: .514;
      border-radius: 5px;
    }
    .btn-circle.btn-lg {
      width: 50px;
      height: 50px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 25px;
    }
    .btn-circle.btn-xl {
      width: 70px;
      height: 70px;
      padding: 10px 16px;
      font-size: 24px;
      line-height: 1.33;
      border-radius: 35px;
    }
    .form-group.required .control-label:after {
      content:"*";
      color:red;
    }
    </style>

    <!--<h4><a ng-click="doTheBack()"><i class="glyphicon glyphicon-menu-left"/>Go Back</a></h4>-->
    <div id="timeseries_div">

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit portlet-datatable bordered">
                <div class="portlet-body">
                  <div class="row text-center" ng-show="requesting">
                      <div class="col-md-12">
                        <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
                      </div>
                  </div>

                  <div class="row">


                          <!-- FORM-->
                          <div  class="text-center">
                            <!--
                            <div class="row ">
                              <div class="col-md-12">
                              <h3 class="pull-left">{{action | capitalize}} Data Descriptor </h3>
                            </div>
                           -->
                            <div class="col-md-11">
                              <form novalidate class="simple-form" name="TimeseriesTemplateForm">

                                <!-- TITLE -->
                              <div class="panel panel-default"  ng-show="!wizardSecondPage">
                               <div class="panel-heading">Create Spreadsheet Parsing Template</div>
                               <div class="panel-body">
                                <div class="form-group required">
                                  <label class="control-label pull-left" for="title" data-toggle="tooltip" title='{{"name" | translate}}'>Name:</label>
                                  <button type="button"  data-toggle="popover" title="Title Field" data-content='{{"name" | translate}}' class="btn btn-info btn-circle pull-left">
                                    <i class="glyphicon glyphicon-question-sign"></i>
                                  </button>
                                  <span ng-show="missing_values_error" class="warning" autofocus>Name is a required field.</span>
                                  <input id='name' class="form-control" type="text" ng-model="timeseries_template.name" />
                                </div>
                                <div class="form-group required">
                                    <label class="control-label pull-left" for="title" data-toggle="tooltip" title='{{"type" | translate}}'>Type:</label>
                                    <button type="button"  data-toggle="popover" title="Type Field" data-content='{{"type" | translate}}' class="btn btn-info btn-circle pull-left">
                                      <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                    <span ng-show="missing_values_error" class="warning" autofocus>Type is a required field.</span>
                                    <select id='type' class="form-control" type="text" ng-model="timeseries_template.type">
                                      <option value="sample">Sample</option>
                                      <option value="logger">Logger</option>
                                    </select>
                                  </div>

                                  <!--<div class="form-group required">
                                    <label class="control-label pull-left" for="title" data-toggle="tooltip" title='{{"extension" | translate}}'>Extension:</label>
                                    <button type="button"  data-toggle="popover" title="Extension Field" data-content='{{"extension" | translate}}' class="btn btn-info btn-circle pull-left">
                                      <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                    <span ng-show="missing_values_error" class="warning" autofocus>Extension is a required field.</span>
                                    <input class="form-control" type="text" ng-model="timeseries_template.extension" />
                                  </div>-->

                                  <div class="form-group required">
                                    <label class="control-label pull-left" for="title" data-toggle="tooltip" title='{{"description" | translate}}'>Description:</label>
                                    <button type="button"  data-toggle="popover" title="Description Field" data-content='{{"description" | translate}}' class="btn btn-info btn-circle pull-left">
                                      <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                    <span ng-show="missing_values_error" class="warning" autofocus>Description is a required field.</span>
                                    <input id='description' class="form-control" type="text" ng-model="timeseries_template.description" />
                                  </div>
                                  <div class="form-group required">
                                    <label class="control-label pull-left" for="title" data-toggle="tooltip" title='{{"datetime_column" | translate}}'>Date Time Column (columns start at 1 for leftmost column):</label>
                                    <button type="button"  data-toggle="popover" title="Date Time Column " data-content='{{"datetime_column" | translate}}' class="btn btn-info btn-circle pull-left">
                                      <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                    <span ng-show="missing_values_error" class="warning" autofocus>Number of the Date/Time Column (columns starting at 1 for leftmost column) is a required field.</span>
                                    <input id='datetime_column' class="form-control" type="text" ng-model="timeseries_template.datetime_column" />
                                  </div>
                                  <div class="form-group required">
                                    <label class="control-label pull-left" for="title" data-toggle="tooltip" title='{{"site_column" | translate}}'>Site Column (columns start at 1 for leftmost column):</label>
                                    <button type="button"  data-toggle="popover" title="Site Column " data-content='{{"site_column" | translate}}' class="btn btn-info btn-circle pull-left">
                                      <i class="glyphicon glyphicon-question-sign"></i>
                                    </button>
                                    <span ng-show="missing_values_error" class="warning" autofocus>Number of the Site/Location ID Column (columns starting at 1 for leftmost column) is a required field.</span>
                                    <input id='site_column' class="form-control" type="text" ng-model="timeseries_template.site_column" />
                                  </div>
                                  <div class="form-group" >
                                      <label align="left" class="control-label pull-left" for="title" data-toggle="tooltip" title='Column Definitions'>Column Definitions</label>
                                    <br/><br/>
                                      <ul>
                                      <li ng-repeat="column in column_vars" align="left">
                                        <label class="control-label" for="title" data-toggle="tooltip" title='{{"site_column" | translate}}'> Column: {{column.column_num}} | Variable:{{column.variable.value.id}}-{{column.variable.value.variable_name}} ({{column.variable.value.unit}})</label>
                                        <button type="button"  title="Remove" ng-click="removeColumn(column)" class="btn btn-info btn-sm">
                                                <i class="glyphicon glyphicon-remove-sign"></i>
                                        </button>
                                      </li>
                                    </ul>
                                  </div>
                                 <!-- CHOOSE VARIABLES -->
                                 <div class="form-group">
                                    <button type="button" class="btn btn-success pull-left form-control" ng-click="open('lg',['Variable'],'Select Variable')">Add Column Variable Description</button>
                                  </div>
                                  <div id="variable_buttons">
                                    <button type="button" class="btn btn-default btn-sm" ng-repeat="filemetadatum in variables | filter: {name:'Variable'}" ng-click="unAssociateMetadata(filemetadatum.uuid,'#association_notifications')">
                                      {{filemetadatum.value.well_name}}{{filemetadatum.value.name}}{{filemetadatum.value.title}}
                                      {{filemetadatum.value.wid}} {{filemetadatum.value.variable_name}} {{filemetadatum.value.description}} {{filemetadatum.value.tags.toString()}}
                                      <i class="glyphicon glyphicon-remove-sign"></i>
                                    </button>
                                </div>
                              </div>
                              </br>


                              </form>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div >
        <button class="btn btn-default pull-left" ng-click="close()">Close</button>
        <!-- <button class="btn btn-primary" ng-click="submit()">Submit</button> -->
        <div class="form-group">
          <button type="button" class="btn btn-primary" type="submit"
          ng-click="onSubmit()" >Save</button>
        </div>
        <!--<div ng-if="ddUuid != ''"class="form-group"> -->

    </div>
