<div class="row text-center" ng-show="requesting">
    <div class="col-md-12">
      <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
    </div>
</div>
<div ng-show="!requesting">
  <div class="row">
    <div class="col-xs-9">
      <div ng-if="metadatum" class="table-responsive">
        <table class="table">
          <thead class="hidden-sm hidden-xs">
          <tr>
             <th class="col-sm-2"></th>
             <th class="col-sm-10"></th>
           </tr>
          </thead>
          <tbody>
            <tr ng-if="metadatum.uuid">
              <td>UUID</td>
              <td>{{metadatum.uuid}}</td>
            </tr>
            <tr ng-if="metadatum.name">
              <td>Name</td>
              <td>{{metadatum.name}}</td>
            </tr>
            <tr ng-if="metadatum.schemaId">
              <td>Schema Id</td>
              <td>{{metadatum.schemaId}}</td>
            </tr>
            <tr ng-if="metadatum.value">
              <td>Value</td>
              <td>{{metadatum.value}}</td>
            </tr>
            <tr ng-if="metadatum.associationIds">
              <td>Association IDs</td>
              <td>{{metadatum.associationIds}}<br/>
              {{metadatum._links["associationIds"][0].href}}</td>
            </tr>
            <tr ng-if="metadatum.owner">
              <td>Owner</td>
              <td>{{metadatum.owner}}</td>
            </tr>
            <tr ng-if="metadatum.internalUsername">
              <td>Internal Username</td>
              <td>{{metadatum.internalUsername}}</td>
            </tr>
            <tr ng-if="metadatum.schemaId">
              <td>Schema Id</td>
              <td>{{metadatum.schemaId}}</td>
            </tr>
            <tr ng-if="metadatum.lastUpdated">
             <td>Last Updated</td>
             <td>{{metadatum.lastUpdated}}</td>
           </tr>
           <tr ng-if="metadatum.created">
             <td>Created</td>
             <td>{{metadatum.created}}</td>
           </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-3">
      <div ng-if="metadatum" class="btn-group pull-right">
          <a class="btn red btn-outline" href="#" data-toggle="dropdown">
              Actions
              <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a ui-sref="filemetadata-manage({uuid: metadatum.associationIds[0]})" role="button"> <i class="fa fa-folder-open-o"></i> Browse File Metadata</a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>
