<h3 class="page-title"> Edit Metadata Object</h3>
<h4> Metadata Object UUID: {{metadataUuid}}</h4>

<div class="row text-center" ng-show="requesting">
    <div class="col-md-12">
      <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
    </div>
</div>

<div ng-show="!requesting">
  <div class="row">
    <div class="col-md-12">

      <div class="portlet light bordered" id="form_wizard_1">
        <div class="portlet-title">
          <div class="caption">
            <i class=" icon-layers font-red"></i>
            <span class="caption-subject font-red bold uppercase">Metadata Object Edit - {{metadataschema.schema.title}}</span>
            </span>
          </div>
        </div>

<div class="portlet-body form">
          <form name="updateFilemetadataForm"
           sf-schema="schema"
           sf-form="form"
           sf-model="model"
           ng-submit="onSubmit(updateFilemetadataForm)"></form></div>
    </form>
</div>

    </div>
  </div>


</div>
