<div id="associate_modal" class="modal-header">
        <h4 class="page-title">{{modalTitle}}</h4>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit portlet-datatable bordered">
                <div class="portlet-title form-inline">
                      
                            <button class="btn btn-primary" ng-click="searchAll()"><i class="fa fa-search" aria-hidden="true">Search</i></button>
                            <input type="text" sizes='200'class="form-control" placeholder="Search All Fields" ng-model="searchField.value">
                              
                 
                            
                        <br/>
                        
                    
                </div>
                <div class="portlet-body">
                  <div class="row text-center" ng-show="requesting">
                      <div class="col-md-12">
                        <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
                      </div>
                  </div>
    
                  <div class="row">
                      <div class="col-md-12">
                        <div ng-show="!requesting">
                          <div ng-show="metadata.length === 0" class="text-center">
                            <div class="row text-center">
                              <div class="col-md-12">
                                  No Metadata found
                              </div>
                            </div>
                          </div>
                          <div ng-show="metadata.length > 0" >
                                                      
                            <div class="caption">
                                Total Objects: {{ metadata.length}}
                                <button ng-if='can_fetch_more' class='btn btn-default' ng-click='fetchMoreModalMetadata()'>Fetch More Results</button>
                            </div>
                            <div class="btn-group top-buffer">
                                <div class="input-group">
                                  <div class="input-group-addon"><i class="fa fa-filter" aria-hidden="true"></i></div>
                                  <input type="text" class="form-control" placeholder="Filter Current Local Search Results" ng-model="$parent.filter">
                                </div>
                            </div>
                            <div class="pre-scrollable" style="max-height:200px;">
                              <table class="table table-striped table-bordered table-hover management" width="100%"  id="datatable_collection" class="pre-scrollable">
                                  <thead>
                                      <tr role="row" class="heading">
                                          <th width="20%">
                                            <a href="#" ng-click="sortType = 'uuid'; sortReverse = !sortReverse">
                                              Description
                                              <span ng-show="sortType == 'uuid' && !sortReverse" class="fa fa-caret-down"></span>
                                              <span ng-show="sortType == 'uuid' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                          </th>
                                          
                                          <th width="15%" class="text-center"> Actions</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr ng-repeat="metadatum in metadata | orderBy:sortType:sortReverse | filter:filter">
                                          <td>
                                              <a ng-click="openViewMetadata(metadatum.uuid,'lg')"> {{metadatum.value.well_name}}{{metadatum.value.name}}
                                               {{metadatum.value.wid}} {{metadatum.value.variable_name}} {{metadatum.value.description}}
                                               {{metadatum.value.tags.toString()}} </a>
                                          </td>
                                          
                                          <td class="text-center">
                                              <div class="btn-group pull-left">
                                                
                                                  <a class="btn btn-sm green btn-outline pull-right" ng-click="selectTimeseriesTemplate(metadatum)">
                                                      Select
                                                      <i class="fa fa-plus"></i>
                                                  </a>
                                              </div>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left" ng-click="cancel()">Close</button>
  </div>
    