

<div class="modal-header">
    <h3 class="modal-title">Data Descriptor Details: {{data_descriptor_metadatum.value.title}}</h3>
     <span ng-if="metadatum" class="btn-group">
     </span>
</div>
<style>
.btn-circle {
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 0 0;
  font-size: 11px;
  line-height: .514;
  border-radius: 5px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
</style>

<!--
<script type="text/javascript">
      $(document).ready(function() {
          $('#datetimepicker1').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            autoclose: true,
            useCurrent: false
          }).on("changeDate", function(e) {
              $('#datetimepicker2').datepicker("setDate", e.date);
          });
          $('#datetimepicker2').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            autoclose: true,
            useCurrent: false
          });
          $('#datetimepicker3').datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            autoclose: true,
            useCurrent: false
          });
      });
</script>
-->


<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-body">
              <div class="row text-center" ng-show="requesting">
                  <div class="col-md-12">
                    <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
                  </div>
              </div>

              <div class="row">
                <div class=" pull-left">
                  <h4>{{filename.split('/').pop()}}</h4>
                </div>

                      <!--DATA DESCRIPTOR FORM-->
                      <div  class="text-center">
                        <div class="row ">
                          <div class="col-md-12">
                          <h3 class="pull-left">Create Data Descriptor </h3>
                        </div>
                        <div class="col-md-11">
                          <form novalidate class="simple-form" name="dataDescriptorForm">

                            <!-- CREATOR -->
                            <div class="form-group required">
                              <label class="control-label pull-left" for="creator" data-toggle="tooltip" title='{{"creator" | translate}}'>Author(s):</label>
                              <button type="button" data-toggle="popover" title="Author Field" data-content='{{"creator" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <br />
                              <!--  see http://plnkr.co/edit/m1SQXUxftBLQtitng1f0?p=preview for examples -->
                              <ui-select 
                                class="form-control" 
                                multiple 
                                remove-selected="false" 
                                ng-model="datadescriptor.creators" 
                                theme="bootstrap" 
                                style="width: 100%;text-align: left;" 
                                sortable="true" 
                                ng-disabled="disabled"  
                                title="Choose creators">
                                <ui-select-match placeholder="Select author(s)...">{{$item.last_name}}, {{$item.first_name}}</ui-select-match>
                                <ui-select-choices repeat="person in people | filter: $select.search | orderBy:'last_name'">
                                  <div><span ng-bind-html="person.last_name"></span>, <span ng-bind-html="person.first_name"></span></div>
                                  <!--
                                  <small>
                                    email: {{person.email}}
                                  </small>
                                  -->

                                </ui-select-choices>
                              </ui-select>
                              <!-- <p>Selected: {{selected.people}}</p> -->
							                <button class="fa fa-plus pull-right btn btn-default" ng-click="openCreatePerson('lg')">Create New Author</button>
                              <script>
                                 $(document).ready(function(){
                                     $('[data-toggle="popover"]').popover();
                                 });
                               </script>
                            </div>

                            <!-- TITLE -->
                            <br />
                            <div class="form-group required">
                              <label class="control-label pull-left" for="title" data-toggle="tooltip" title='{{"title" | translate}}'>Title:</label>
                              <button type="button"  data-toggle="popover" title="Title Field" data-content='{{"title" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <input class="form-control" type="text" ng-model="datadescriptor.title" />
                            </div>

                            <!-- RIGHTS - LICENSE -->
                            <br />
                            <div class="form-group required">
                              <label class="control-label pull-left" for="rightsLicense" data-toggle="tooltip" title='{{"rightsLicense" | translate}}'>License - Rights:</label>
                              <button type="button" data-toggle="popover" title="License Rights Field" data-content='{{"rightsLicense" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <br />
                              <ui-select 
                                ng-model="datadescriptor.license_rights" 
                                theme="bootstrap"
                                style="width: 100%;text-align: left;">
                                  <ui-select-match placeholder="Select license...">{{$select.selected}}</ui-select-match>
                                  <ui-select-choices repeat="license in license_rights | filter: $select.search">
                                    <div ng-bind-html="license | highlight: $select.search"></div>
                                  </ui-select-choices>
                              </ui-select>
                            </div>

                            <!-- ACCESS RIGHTS -->
                            <div class="form-group required">
                              <label class="control-label pull-left" for="rightsPermissions" data-toggle="tooltip" title='{{"rightsPermissions" | translate}}'>Access Rights:</label>
                              <button type="button" data-toggle="popover" title="Access Rights Field" data-content='{{"rightsPermissions" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <br />
                              <br />
                                <label class="pull-left" >
                                  <input type="radio" ng-model="datadescriptor.license_permission" value="private">
                                  Private   
                                </label>
                                <label class="pull-left" >
                                  <input  type="radio" ng-model="datadescriptor.license_permission" value="public" checked>
                                  Public
                                </label>

                              <br />
                              <br />
                            </div>

                            <!-- SUBJECT -->
                            <div class="form-group">
                              <label class="control-label pull-left" for="subject" data-toggle="tooltip" title='{{"subject" | translate}}'>Subject/Keywords/Search terms:</label>
                              <button type="button" data-toggle="popover" title="Subject Field" data-content='{{"subject" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <br />
                              <!--<input ng-model="datadescriptor.subjects" class="form-control" type='textarea' rows="2" placeholder="Enter Keywords"/>-->
                              <ui-select class="form-control" 
                                multiple tagging tagging-label="" 
                                remove-selected="false" 
                                ng-model="datadescriptor.subjects" 
                                theme="bootstrap" 
                                style="width: 100%;text-align: left;" 
                                sortable="true" 
                                ng-disabled="disabled"  
                                title="Choose subjects">
                                <ui-select-match placeholder="Enter terms you would use to search for this data...">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="subject in subjects | filter: $select.search">
                                  <span ng-bind-html="subject"></span>
                                </ui-select-choices>
                              </ui-select>

                            </div>

                             <!-- START DATE -->
                            <div class="form-group">
                              <label class="control-label pull-left" for="startDate" data-toggle="tooltip" title='{{"dates" | translate}}'>Start Date:</label>
                              <button type="button" data-toggle="popover" title="Start Date Field" data-content='{{"dates" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <br />
                            </div>
                            <div class="form-group">
                              <div class='input-group date' id='datetimepicker1' data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-start-date="datadescriptor.start_datetime | date:'yyyy-mm-dd'">
                                  <input ng-model="datadescriptor.start_datetime" type='text' class="form-control" width="50%" placeholder="Select start date of work referenced in file…"/>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>
                            </div>

                             <!-- END DATE -->
                            <div class="form-group">
                              <label class="control-label pull-left" for="endDate" data-toggle="tooltip" title='{{"dates" | translate}}'>End Date:</label>
                              <button type="button" data-toggle="popover" title="End Date Field" data-content='{{"dates" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <br />
                            </div>
                            <div class="form-group">
                              <div class='input-group date' id='datetimepicker2' data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date="datadescriptor.end_datetime">
                                <input type='text' ng-model="datadescriptor.end_datetime" class="form-control" value="datadescriptor.end_datetime" placeholder="Select end date of work referenced in file…"/>
                                <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                              </div>  
                            </div>

                             <!-- FORMAT -->
                            <div class="form-group">
                              <label class="control-label pull-left" for="format" data-toggle="tooltip" title='{{"format" | translate}}'>Format:</label>
                              <button type="button" data-toggle="popover" title="Format Field" data-content='{{"format" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <br />
                              <ui-select class="form-control" 
                                multiple tagging tagging-label="" 
                                remove-selected="false" 
                                ng-model="datadescriptor.formats" 
                                theme="bootstrap" 
                                style="width: 100%;text-align: left;"
                                sortable="true" 
                                ng-disabled="disabled"  
                                title="Choose formats">
                                <ui-select-match placeholder="Select file format(s)...">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="format in formats | filter: $select.search">
                                  <span ng-bind-html="format"></span>
                                </ui-select-choices>
                              </ui-select>
                            </div>

                            <!-- CONTRIBUTING PERSON -->
                            <div class="form-group">
                              <label class="control-label pull-left" for="contributorPerson" data-toggle="tooltip" title='{{"contributorPerson" | translate}}'>Contributor - Person:</label>
                              <button type="button" data-toggle="popover" title="Contributing Person Field" data-content='{{"contributorPerson" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <br />
                              <!--  see http://plnkr.co/edit/m1SQXUxftBLQtitng1f0?p=preview for examples -->
                              <ui-select 
                                class="form-control" 
                                multiple 
                                remove-selected="false" 
                                ng-model="datadescriptor.contributors" 
                                theme="bootstrap" 
                                style="width: 100%;text-align: left;"
                                sortable="true" 
                                ng-disabled="disabled"  
                                title="Choose contributing people">
                                <ui-select-match placeholder="Select contributing people...">{{$item.last_name}}, {{$item.first_name}}</ui-select-match>
                                <ui-select-choices repeat="person in people | filter: $select.search">
                                  <span ng-bind-html="person.last_name"></span>, <span ng-bind-html="person.first_name">
                                </ui-select-choices>
                              </ui-select>
				                      <!-- <p>Selected: {{selected.people}}</p> -->
                              <button class="fa fa-plus pull-right btn btn-default" ng-click="openCreateContribPerson('lg')">Add Contributing People</button>
                            </div>
                            <br />
                            <!-- CONTRIBUTING AGENCIES -->
                            <div class="form-group">
                              <label class="control-label pull-left" for="contributorAgency" data-toggle="tooltip" title='{{"contributorAgency" | translate}}'>Contributor - Agency:</label>
                              <button type="button" data-toggle="popover" title="Contributing Agency Field" data-content='{{"contributorAgency" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <br />
                              <!--  see http://plnkr.co/edit/m1SQXUxftBLQtitng1f0?p=preview for examples -->
                              <ui-select 
                                class="form-control" 
                                multiple 
                                remove-selected="false" 
                                ng-model="datadescriptor.organizations" 
                                theme="bootstrap" 
                                style="width: 100%;text-align: left;"
                                sortable="true" 
                                ng-disabled="disabled"  
                                title="Choose contributing people">
                                <ui-select-match placeholder="Select contributing organizations...">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="org in orgs | filter: $select.search">
                                  <span ng-bind-html="org.name"></span>
                                </ui-select-choices>
                              </ui-select>
                              <button class="fa fa-plus pull-right btn btn-default" ng-click="openCreateOrg('lg')">Add Contributing Organizations</button>
                              <!-- <p>Selected: {{datadescriptor.organizations}}</p> -->
                            </div>
                            <br />
                            <!-- LANGUAGE -->
                            <!--
                            <div class="form-group">
                              <label class="control-label pull-left" for="language" data-toggle="tooltip" title='{{"language" | translate}}'>Languages:</label>
                              <button type="button" data-toggle="popover" title="Languages Field" data-content='{{"language" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <br />
                              <ui-select class="form-control" multiple tagging tagging-label="" remove-selected="false" ng-model="datadescriptor.languages" theme="bootstrap" sortable="true" ng-disabled="disabled"  title="Choose languages">
                                <ui-select-match placeholder="Select languages...">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="language in languages | filter: $select.search">
                                  <span ng-bind-html="language"></span>
                                </ui-select-choices>
                              </ui-select>
                            </div>
                            -->

                            <!-- VERSION -->
                            <!--
                            <div class="form-group">
                              <label class="control-label pull-left" for="version" data-toggle="tooltip" title='{{"version" | translate}}'>Version:</label>
                              <button type="button" data-toggle="popover" title="Version Field" data-content='{{"version" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <input ng-model="datadescriptor.version" class="form-control" type='text'/>
                            </div>
                            -->
  	                        <!--<div id="association_notifications"></div>-->
                            <!-- CHOOSE LOCATIONS -->
                            <div class="form-group">
                              <button class="btn btn-success pull-left form-control" ng-click="open('lg' ,['Well','Site','Water_Quality_Site'],'Select Location(s)')">Select Location(s)</button>
                            </div>
                            <div id="location_buttons">
                              <button class="btn btn-default btn-sm"  ng-repeat="filemetadatum in filemetadata | filter: locFilter" ng-click="unAssociateMetadata(filemetadatum.uuid,'#association_notifications')">
                                {{filemetadatum.value.well_name}}{{filemetadatum.value.name}}{{filemetadatum.value.title}}
                                {{filemetadatum.value.wid}} {{filemetadatum.value.variable_name}} {{filemetadatum.value.description}} {{filemetadatum.value.tags.toString()}}
                                <i id="filemetadatum.uuid" ng-class="class[uuid]" class="glyphicon glyphicon-remove-sign"></i>
                              </button>
                            </div></br></br></br>

                            <!-- CHOOSE VARIABLES -->
                            <div class="form-group">
                              <button  class="btn btn-success pull-left form-control" ng-click="open('lg',['Variable'],'Select Variable(s)')">Select Variable(s)</button>
                            </div>
                            <div id="variable_buttons">
                              <button class="btn btn-default btn-sm" ng-repeat="filemetadatum in filemetadata | filter: {name:'Variable'}" ng-click="unAssociateMetadata(filemetadatum.uuid,'#association_notifications')">
                                {{filemetadatum.value.well_name}}{{filemetadatum.value.name}}{{filemetadatum.value.title}}
                                {{filemetadatum.value.wid}} {{filemetadatum.value.variable_name}} {{filemetadatum.value.description}} {{filemetadatum.value.tags.toString()}}
                                <i class="glyphicon glyphicon-remove-sign"></i>
                              </button>
                            </div></br></br>

                            <!-- PUBLISHER -->
                            <!--
                            <div class="form-group">
                              <label class="control-label pull-left" for="descriptor" data-toggle="tooltip" title='{{"publisher" | translate}}'>Publisher:</label>
                              <button type="button" data-toggle="popover" title="Publisher Field" data-content='{{"publisher" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                                <ui-select class="form-control" multiple remove-selected="false" ng-model="datadescriptor.publisher" theme="bootstrap" sortable="true" ng-disabled="disabled"  title="Choose contributing people">
                                <ui-select-match placeholder="Enter publishing organization(s)…">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="org in orgs | filter: $select.search">
                                  <span ng-bind-html="org.name"></span>
                                </ui-select-choices>
                              </ui-select>
                            </div>
                            -->
                            <!--<input ng-model="datadescriptor.publisher" class="form-control" type='textarea' rows="2" placeholder=" Enter publishing organization(s)…"/>-->

                            <!-- PUBLICATION DATE -->
                            <!--
                            <div class="form-group">
                              <label class="control-label pull-left" for="publicationDate" data-toggle="tooltip" title='{{"publicationDate" | translate}}'>Date of Publication:</label>
                              <button type="button" data-toggle="popover" title="Publication Date Field" data-content='{{"publicationDate" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <br />
                            </div>
                            <div class="form-group">
                              <div class='input-group date' id='datetimepicker3' data-provide="datepicker">
                                <input ng-model="datadescriptor.publication_date"  type='text' class="form-control" placeholder="Select date of publication…"/>
                                <span class="input-group-addon">
                                   <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                              </div>
                            </div>
                            -->

                            <!-- DESCRIPTION -->
                            <div class="form-group">
                              <label class="control-label pull-left" for="descriptor" data-toggle="tooltip" title='{{"descriptor" | translate}}'>Description:</label>
                              <button type="button" data-toggle="popover" title="Description Field" data-content='{{"descriptor" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <input ng-model="datadescriptor.description" placeholder="Enter abstract or text describing this resource" class="form-control" type='textarea' rows="5"/>
                            </div>

                            <!-- RELATED -->
                            <div class="form-group">
                              <label class="control-label pull-left" for="relations" data-toggle="tooltip" title='{{"relations" | translate}}'>Relations:</label>
                              <button type="button" data-toggle="popover" title="Relations Field" data-content='{{"relations" | translate}}' class="btn btn-info btn-circle pull-left">
                                <i class="glyphicon glyphicon-question-sign"></i>
                              </button>
                              <input ng-model="datadescriptor.relations" placeholder="Enter filenames linked to this resource" class="form-control" type='textarea' rows="2"/>
                            </div>



   
                            <div ng-if="has_data_descriptor == false"class="form-group">
                              <button  class="btn btn-primary" type="submit"  ng-click="saveDataDescriptor()" >Save Data Descriptor</button>
                            </div>
                            <!--<div ng-if="ddUuid != ''"class="form-group"> -->
                            <div ng-if="has_data_descriptor == true"class="form-group">
                              <button  class="btn btn-primary" type="submit"  ng-click="updateDataDescriptor()" >Save Changes</button>
                            </div>
                          </div>
                          </form>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-show='profile.username == metadatum.owner || edit_perm' class="btn btn-primary" ng-click="openEdit({uuid: metadatum.uuid},'lg')">Edit</button>
    <button class="btn btn-default pull-left" ng-click="close()">Close</button>
</div>
