<!--
 <div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/metadata">Metadata</a>
        </li>
    </ul>
    <div landing-start-menu></div>
</div>
-->
<h3 class="page-title"> Browse Metadata</h3>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="row text-center">
                  <div class="col-md-12">

                  </div>
                </div>
                <div ng-controller="MetadataQueryBuilderCtrl" class="text-center top-buffer" ng-keyup="$event.keyCode == 13 ? searchTools(query) : null">
                    <div class="btn-group top-buffer">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-filter" aria-hidden="true"></i></div>
                        <input type="text" class="form-control" placeholder="Filter Current Local Search Results" ng-model="$parent.filter">
                      </div>
                      <br/>
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <input type="text" class="form-control" placeholder="Search All Fields" ng-model="searchField.value"></div>
                        <button class="btn btn-primary" ng-click="searchAll()">Search All Fields</button>
                        <div class="input-group-addon"><span class="input-group pull-left" aria-hidden="true"><input type="checkbox" ng-model="schemaBox.val1" />Search Sites&nbsp;<input type="checkbox" ng-model="schemaBox.val2" />Search Wells</span></div>

                      <br/>
                    </div>
                    <div class="row top-buffer" ng-show="showSearch">
                      <query-builder group="filter.group" resource="metadata"></query-builder>
                      <div class="col-md-12 top-buffer">

                        <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                          <input type="text" class="form-control" placeholder="Search" ng-model="query">
                        </div>

                        <div class="btn-group">
                          <button class="btn btn-success top-buffer" ng-click="searchTools(query)">Search</button>
                        </div>
                      </div>
                    </div>
                    <div class="btn-group top-buffer">
                      <button class="btn btn-default" ng-click="showSearch = !showSearch">
                        <i class="fa fa-search"></i> {{showSearch ? 'Hide Tools' : 'Open Advanced Search Tools'}}
                      </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
              <div class="row text-center" ng-show="requesting">
                  <div class="col-md-12">
                    <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-12">
                    <div ng-show="!requesting">
                      <div ng-show="metadata.length === 0" class="text-center">
                        <div class="row text-center">
                          <div class="col-md-12">
                              No Metadata found
                          </div>
                        </div>
                      </div>
                      <div ng-show="metadata.length > 0"class="text-left">
                          <div class="pull-left">
                              Total Search Results: {{totalItems}}
                          </div>
                      </div>
                        <!--
                      <div class="btn-group pull-right">
                          <a class="btn green btn-outline pull-right" href="#" data-toggle="dropdown">
                              <i class="fa fa-plus"></i>&nbsp;Create New Metadata Object
                              <i class="fa fa-angle-down pull-right"></i>
                          </a>
                          <ul class="dropdown-menu">
                            <li ng-repeat="metadataschemata in metadataschema " ng-show="approvedSchema.indexOf(metadataschemata.schema.title) > -1">
                              <a href='#' ng-click="openCreate(metadataschemata.uuid)" role="button"> <i class="fa fa-tag"></i>{{metadataschemata.schema.title}}</a>
                            </li>
                          </ul>
                      </div>
                        -->
                      <div class="btn-group pull-right">
                          <a class="btn green btn-outline pull-right" href="#" ng-click="openCreate(metadataschema[0].uuid)" role="button">
                              <i class="fa fa-plus"></i>&nbsp;Create New Data Descriptor
                          </a>
                      </div>
                      <div class="col-md-12">
                      <div ng-show="metadata.length > 0" class="pre-scrollable">
                          <table class="table table-striped table-bordered table-hover management pre-scrollable"" width="100%" id="datatable_collection">
                              <thead>
                                  <tr role="row" class="heading">
                                      <th width="20%">
                                        <a href="#" ng-click="sortType = 'uuid'; sortReverse = !sortReverse">
                                          Title
                                          <span ng-show="sortType == 'uuid' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'uuid' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th width="10%">
                                        <a href="#" ng-click="sortType = 'uuid'; sortReverse = !sortReverse">
                                          Owner
                                          <span ng-show="sortType == 'uuid' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'uuid' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th width="20%">
                                        <a href="#" ng-click="sortType = 'uuid'; sortReverse = !sortReverse">
                                          Description
                                          <span ng-show="sortType == 'uuid' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'uuid' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <!--
                                      <th width="20%">
                                        <a href="#" ng-click="sortType = 'path'; sortReverse = !sortReverse">
                                          Associated Files
                                          <span ng-show="sortType == 'path' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'path' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      -->
                                      <!--
                                      <th width="10%" class="hidden-xs">
                                        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                          TYPE
                                          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      -->
                                      <th width="5%" class="text-center"> Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="metadatum in metadata | orderBy:sortType:sortReverse | filter:filter"ng-show="ignoreMetadataType.indexOf(metadatum.name) < 0">
                                    <td>
                                        <a href='#' ng-click="openView(metadatum.uuid, 'lg')"> {{metadatum.value.title}}</a>
                                    </td>
                                    <td>
                                        <a href='#' ng-click="openView(metadatum.uuid, 'lg')"> {{metadatum.owner}}</a>
                                    </td>
                                    <td>
                                        <a href='#' ng-click="openView(metadatum.uuid, 'lg')"> {{metadatum.value.description}}</a>
                                        <!--{{metadatum.uuid}}-->
                                    </td>
                                    <!--
                                    <td>
                                        <div ng-repeat="associationId in metadatum._links['associationIds']">
                                          <a ui-sref="datadescriptor({uuid: metadatum.associationIds[metadatum._links['associationIds'].indexOf(associationId)]})" class="fa fa-eye">{{associationId.href.split('system')[1]}}</a>
                                        </div>
                                    </td>
                                    
                                    <div ng-repeat="associationId in metadatum._links['associationIds']">
                                      <a ng-click="datadescriptor([associationId])" class="fa fa-download"> {{associationId.href.split('system\/')[1]}} </a>
                                    </div>
                                    -->
                                    <!--
                                    <td class="hidden-xs">
                                        {{metadatum.name}}
                                    </td>
                                    -->
                                    <!--  metadata and metadata-edit are both found in main.js -->
                                    <!--
                                    <td class="text-center">
                                        <div class="btn-group">
                                                <a href='#' ng-show="profile.username == associationId.owner || edit_perm" ng-click="openEdit(metadatum.uuid, 'lg')" role="button"> <i class="fa fa-pencil"></i>Edit</a>
                                        </div>
                                    </td>
                                    -->
                                    <td class="text-center" ng-click="touch(item)">
                                       <div class="btn-group">
                                          <a class="btn red btn-outline" href="#" data-toggle="dropdown">
                                            Actions
                                            <i class="fa fa-angle-down"></i>
                                          </a>
                                          <ul class="dropdown-menu pull-right" role="menu">
                                            <!--<li ng-show="config.allowedActions.clone">-->
                                            <li>
                                                <a ng-click="openView(metadatum.uuid, 'lg')">
                                                  <i class="fa fa-tags"></i> 
                                                  View
                                                </a>
                                            </li>
                                           <li ng-show="profile.username === metadatum.owner">
                                                <a href="" tabindex="-1" data-toggle="modal" data-target="#edit" ng-click="openEdit(metadatum.uuid, 'lg')">
                                                  <i class="fa fa-pencil"></i> 
                                                  Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="openClone(metadatum.uuid, 'lg')">
                                                  <i class="fa fa-copy"></i> 
                                                  Clone
                                                </a>
                                            </li>
                                            <!--
                                              <li ng-show="config.allowedActions.copy && system.default">
                                                <a href="" tabindex="-1" data-toggle="modal" data-target="#copy" ng-click="getCopySystems()"><i class="fa fa-copy"></i> {{'copy' | translate}}</a></li>
                                            -->
                                            <!--<li ng-show="hasFiles">-->
                                            <!--
                                            <li>
                                                <a href="" tabindex="-1" data-toggle="modal" data-target="#associate">
                                                  <i class="fa fa-tags"></i> 
                                                  {{'Associate' | translate}}
                                                </a>
                                            </li>
                                            -->
                                          </ul>
                                       </div>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                    </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
