<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/studies">Studies</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#/study-details">{{metadatum.value.name}}</a>
        </li>
    </ul>
    <div landing-start-menu></div>
</div>
<h3 class="page-title">{{metadatum.value.name}}
</h3>
<h5>{{metadatum.value.description}}</h5>
<hr/>
<div class="row">
    <div class="col-md-12">
      <div ng-show="!requesting">
        <div class="btn-group pull-right">
             <a class="btn green btn-outline pull-right" href="#" data-toggle="dropdown">
                 <i class="fa fa-list"></i>&nbsp;Choose Location Object Form
                 <i class="fa fa-angle-down pull-right"></i>
             </a>
             <ul class="dropdown-menu">
               <li ng-repeat="metadataschemata in metadataschema | orderBy:sortType:sortReverse | filter:filter">
                 <a ng-click="fetchMetadataSchema(metadataschemata.uuid)" role="button"> <i class="fa fa-tag"></i> {{metadataschemata.schema.title}}</a>
               </li>
             </ul>
         </div>
      Click On Map To Populate Latitude and Longitude Coordinates For A New Location Object.
      <leaflet width="100%" height="480px" center="hawaii"  markers="markers" event-broadcast="events"></leaflet>
    </div>
    <div class="col-md-12">
      <div ng-show="schema_selected">
        <div ng-show="!requesting">
          <div class="row">
            <div class="col-md-12">

              <div class="portlet light bordered" id="form_wizard_1">
                <div class="portlet-title">
                  <div class="caption">
                    <i class=" icon-layers font-red"></i>
                    <span class="caption-subject font-red bold uppercase">Create - {{selectedmetadataschema.schema.title}}</span>
                    </span>
                  </div>
                </div>
        <div class="portlet-body form">
                  <form name="addMetadataForm"
                   sf-schema="schema"
                   sf-form="form"
                   sf-model="model"
                   ng-submit="onSubmit(addMetadataForm)"></form></div>
            </form>
        </div>

      </div>
    </div>
</div>
</div>
        <div class="portlet light portlet-fit portlet-datatable bordered" ng-show="!requesting" >
            <div class="portlet-title">
                <div ng-controller="MetadataQueryBuilderCtrl" class="text-center top-buffer" ng-keyup="$event.keyCode == 13 ? searchTools(query) : null">
                    <div class="btn-group top-buffer">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-filter" aria-hidden="true"></i></div>
                        <input type="text" class="form-control" placeholder="Filter" ng-model="$parent.filter">
                      </div>
                    </div>
                    <div class="row top-buffer" ng-show="showSearch">
                      <query-builder group="filter.group" resource="search"></query-builder>
                      <div class="col-md-12 top-buffer">

                        <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
                          <input type="text" class="form-control" placeholder="Search" ng-model="query">
                        </div>

                        <div class="btn-group">
                          <button class="btn btn-success top-buffer" ng-click="searchTools(query)">Search</button>
                        </div>
                      </div>
                    </div>
                    <div class="btn-group top-buffer">
                      <button class="btn btn-default" ng-click="showSearch = !showSearch">
                        <i class="fa fa-search"></i> {{showSearch ? 'Hide Tools' : 'Search Tools'}}
                      </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
              <div class="row text-center" ng-show="requesting">
                  <div class="col-md-12">
                    <div class="loading-message"><div class="block-spinner-bar"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-12">
                    <div ng-show="!requesting">
                      <div ng-show="metadata.length === 0" class="text-center">
                        <div class="row text-center">
                          <div class="col-md-12">
                              No Results found
                          </div>
                        </div>
                      </div>
                      <div ng-show="metadata.length > 0">

                          <table class="table table-striped table-bordered table-hover management" width="100%" id="datatable_collection">
                              <thead>
                                  <tr role="row" class="heading">
                                      <th width="20%">
                                        <a href="#" ng-click="sortType = 'path'; sortReverse = !sortReverse">
                                          Name
                                          <span ng-show="sortType == 'path' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'path' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th width="10%" class="hidden-xs">
                                        <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                          Description
                                          <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                          <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                                        </a>
                                      </th>
                                      <th width="5%" class="text-center"> Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr ng-repeat="metadatum in metadata | orderBy:sortType:sortReverse | filter:filter">
                                      <td class="hidden-xs">
                                          {{metadatum.value.name}}
                                      </td>
                                      <td class="hidden-xs hidden-sm hidden-md">
                                          {{metadatum.value.description}}
                                      </td>
                                      <td class="text-center">
                                          <div class="btn-group">

                                                  <a ui-sref="metadata({id: metadatum.uuid})" role="button"> <i class="fa fa-eye"></i> View Study</a>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
